<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 offset-2">
                <hr />
                <p><a class="text-decoration-none" href="/curso/">Curso: essencial de TW</a></p>
                <p><a class="text-decoration-none" href="/tutoriais/">Tutoriais</a></p>
                <p><a class="text-decoration-none" href="https://github.com/james-sabel/tw-livre" target="_blank"><i
                            class="fab fa-github" aria-hidden="true"></i> TW Livre no GitHub</a></p>
                <p><a class="text-decoration-none" href="https://twitter.com/tw_livre" target="_blank"><i
                            class="fab fa-twitter" aria-hidden="true"></i> TW Livre no Twitter</a></p>
            </div>
            <div class="col-sm-5" style="text-align: center;">
                <hr />
                <p><a href="/"><img src="/res/img/logo-tw-livre-transparent.png"
                            style="width: 20%; height: auto;" /></a><br /><b>TWLivre.org</b></p>
                <p><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR" target="_blank"
                        class="text-decoration-none text-muted">Conteúdo licenciado via<br />Creative Commons</a></p>
                <p><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR"
                        target="_blank"><img alt="Licença Creative Commons" style="border-width:0; max-width: 100px;"
                            src="/res/img/cc-by-nc-sa.png" /></a></p>
            </div>
        </div>
</footer>