<div id="nav-menu" class="navegacao">
    <p class="curso-titulo">Technical Writing - Módulo 1</p>
    <hr />
    <a href="/curso/modulo-1/introducao/">Introdução</a>
    <hr />
    <a href="/curso/modulo-1/essencial-gramatica/">Essencial de gramática (Opcional)</a>
    <a href="/curso/modulo-1/palavras/">Palavras</a>
    <a href="/curso/modulo-1/voz-ativa/">Voz ativa vs. voz passiva</a>
    <a href="/curso/modulo-1/frases-claras/">Frases claras</a>
    <a href="/curso/modulo-1/frases-curtas/">Frases curtas</a>
    <a href="/curso/modulo-1/listas-tabelas/">Listas e tabelas</a>
    <a href="/curso/modulo-1/paragrafos/">Parágrafos</a>
    <a href="/curso/modulo-1/publico/">Público</a>
    <a href="/curso/modulo-1/documentos/">Documentos</a>
    <a href="/curso/modulo-1/pontuacao/">Pontuação (Opcional)</a>
    <a href="/curso/modulo-1/markdown/">Markdown (Opcional)</a>
    <hr />
    <a href="/curso/modulo-1/resumo/">Resumo</a>
    <hr />
</div>