<div id="nav-menu" class="navegacao">
    <p class="curso-titulo">Technical Writing - Módulo 2</p>
    <hr />
    <a href="/curso/modulo-2/introducao/">Introdução</a>
    <hr />
    <a href="/curso/modulo-2/proprio-documento/">Editando seu próprio documento</a>
    <a href="/curso/modulo-2/documentos-extensos/">Organizando documentos extensos</a>
    <a href="/curso/modulo-2/ilustracoes/">Trabalhando com ilustrações</a>
    <a href="/curso/modulo-2/codigo-exemplo/">Criando código de exemplo</a>
    <hr />
    <a href="/curso/modulo-2/resumo/">Resumo</a>
    <hr />
</div>