<div id="nav-menu" class="navegacao">
    <p class="curso-titulo marcador">Tutorial: GitHub e open source</p>
    <hr />
    <a href="/tutoriais/github/">Início</a>
    <hr />
    <p class="sidebar-secao">Introdução</p>
    <a href="/tutoriais/github/open-source/">O que é open source</a>
    <a href="/tutoriais/github/controle-versao/">Controle de versão</a>
    <a href="/tutoriais/github/git-github/">Git e GitHub</a>
    <a href="/tutoriais/github/terminologia/">Terminologia essencial</a>
    <a href="/tutoriais/github/ferramentas/">Ferramentas</a>
    <hr />
    <!-- <p class="sidebar-secao">Operando com o GitHub</p>
    <a href="/tutoriais/github/primeiros-passos/">Primeiros passos</a>
    <a href="/tutoriais/github/alterar-github/">Alterar projeto no GitHub</a>
    <a href="/tutoriais/github/alterar-remoto/">Alterar projeto num repositório remoto</a>
    <hr /> -->
    <p class="sidebar-secao">Contribuindo com open source</p>
    <a href="/tutoriais/github/encontrar-projetos/">Encontrar projetos</a>
    <a href="/tutoriais/github/enviar-contribuicao/">Enviar uma contribuição</a>
    <hr />
</div>